page-about {
    ion-content {
        text-align: center;
    }

    h1 {
        font-weight: bolder;
    }
    
    label {
        font-weight: bold;
    }

    #authors {
        margin-top : 5%;
    }

    #content {
        margin-top : 5%;
    }

    #version {
        font-size: 12pt;
    }

    .logo {
        display: inline-block;
        height:35px;
        margin-left:2em;
        vertical-align: middle;
    }
}
