<ion-header>
  <ion-navbar>
    <ion-title>{{pageTitle}}</ion-title>

    <ion-buttons end *ngIf="!isConsultation">
      <button ion-button icon-only (tap)="switchEditMode()"><ion-icon name="create"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-list>
    <ion-list-header class="listHeader" *ngIf="listHeader!=null">{{listHeader}}</ion-list-header>
    <ion-item *ngFor="let item of listItems" (tap)=itemClicked(item)>

      {{item.name}} <span *ngIf="item.date"> - {{item.date}} </span>
      <span *ngIf="item.ofag">(OFAG : {{item.ofag}})</span>

      <span *ngIf="item.score"> - {{ 'SCORE' | translate }} : 
        <strong [ngClass]="{'good' : item.score < 3, 'average' : item.score == 3, 'bad' : item.score > 3}"> {{item.score}} </strong>
      </span>

      <!--      <button ion-button item-right icon-only *ngIf="editMode">
        <ion-icon name="information-circle"></ion-icon>
      </button>-->
      <button ion-button item-right icon-only color="yellow" *ngIf="editMode" (tap)="editItem(item)">
        <ion-icon name="paper"></ion-icon>
      </button>
      <button ion-button item-right icon-only color="danger" *ngIf="editMode" (tap)="deleteItem($event,item)">
        <ion-icon name="trash"></ion-icon>
      </button>

    </ion-item>
    <ion-fab right bottom *ngIf="!isConsultation">
      <button ion-fab color="brown" (tap)="addItem()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

  </ion-list>
  
</ion-content>