<ion-header>
  <ion-navbar>
    <ion-title>{{pageTitle}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="manageItem('add', null, stepNumber)"><ion-icon name="add"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <!--<button ion-button (click)="resetStorage()">Reset </button>-->
  <ion-list>
    <ion-list-header>{{listHeader}}</ion-list-header>
    <ion-item *ngFor="let item of listItems" (click)=itemClicked(item)>

      <span *ngIf="item.date">{{item.date}} </span> {{item.name}}
      <span *ngIf="item.ofag">(OFAG : {{item.ofag}})</span>

      <strong *ngIf="item.score" [ngClass]="{'good' : item.score < 3, 'average' : item.score == 3, 'bad' : item.score > 3}"> — score : {{item.score}} </strong>
      <button ion-button item-right icon-only>
        <ion-icon name="information-circle"></ion-icon>
      </button>
      <button ion-button item-right icon-only (click)="manageItem('edit', item, stepNumber)">
        <ion-icon name="paper"></ion-icon>
      </button>
      <button ion-button item-right icon-only (click)="manageItem('delete', item, stepNumber)">
        <ion-icon name="trash"></ion-icon>
      </button>

    </ion-item>



  </ion-list>
</ion-content>