component-resume-view {
  ion-label.label.label-md.label-md-brown{
    font-size: medium;
  }


  #imgBlock {
    width: 60%;
    display: block;
  }

  #layerImg{
    min-height : 200px;
    max-height : 300px;
    display: block;
  }

  #layerImg img {
    margin-top : 5%;
    height :50%;
    min-height : 200px;
    max-height : 210px;
  }


  #layerDetails{
    display: block;
  }

  #title{
    font-size: xx-large;
  }

  #subtitle{
    font-size: x-large;
  }
}
