<ion-label stacked color="brown">Nom, Prénom de l'utilisateur</ion-label>
Anonyme
<ion-label stacked color="brown">Numéro Agate de l’exploitant</ion-label>
Anonyme
<ion-label stacked color="brown">Nom du test</ion-label>
{{resume.name}}
<ion-label stacked color="brown">Date du test </ion-label>
{{resume.date}}
<ion-label stacked color="brown">Note finale obtenue pour le Test </ion-label>
<strong *ngIf="resume.score" [ngClass]="{'good' : resume.score < 3, 'average' : resume.score == 3, 'bad' : resume.score > 3}">{{resume.score}} </strong>
<ion-grid>
  <ion-label stacked color="brown">Photo du bloc </ion-label>
  <ion-row>
    <ion-col col-12><img src={{imageFileBlock}} ></ion-col>
  </ion-row>
  <ion-label stacked color="brown">Taille du bloc </ion-label>
  {{resume.thickness}} cm
  <ion-row>
    <ion-col *ngFor="let layer of resume.layers" col-4>
      <ion-label stacked color="brown">Couche {{layer.num}}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngFor="let imageFileLayer of imageFileLayers" col-4>
      <img src={{imageFileLayer}} >
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngFor="let layer of resume.layers" col-4>
      Epaisseur: {{layer.thickness}} cm
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngFor="let layer of resume.layers" col-4>
      <strong *ngIf="layer.score" [ngClass]="{'good' : layer.score < 3, 'average' : layer.score == 3, 'bad' : layer.score > 3}">Note:  {{layer.score}} </strong>
    </ion-col>
  </ion-row>
</ion-grid>
