page-defining-layer {
  ion-content img {
    height: 70%; /* TODO : not working */
    width: 45%; /* temporary used as the height property is not working */
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  ion-label {
    width: 80% /* TODO: not working, also with px.*/
  }
}
