.ios{
    page-home-page {
        #btn{
            width: 100%;
            height: 100%;
            text-transform: none; /*remove uppercase*/
            white-space: initial; /*text overflow of button*/
        }
    
        .icon{
    
          font-size: 300%;
          width : 42px;
        }

        .icon-big{
            font-size: 600%; 
            width : 55px;
        }
    }
}

.md{
    page-home-page {
        #btn{
            width: 100%;
            height: 100%;
            text-transform: none; /*remove uppercase*/
            white-space: initial; /*text overflow of button*/
        }
    
        .icon{
          font-size: 300%;
          width : 25px;
        }
        .icon-big{
            font-size: 500%;
            width : 50px;
        }
    }
}

