.ios, .md{
    page-home-page {    
        .icon{
          font-size: 300%;
          width: 40px;
        }
        .icon-big{
            font-size: 600%;
            width : 60px;
        }
    }
}

