<!--
  Generated template for the ConsultationParcels page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>consultationParcels</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="switchEditMode()"><ion-icon name="create"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content padding>
  <!--<button ion-button (click)="resetStorage()">Reset </button>-->
  <ion-list>
    <ion-list-header class="listHeader" *ngIf="listHeader!=null">{{listHeader}}</ion-list-header>
    <ion-item *ngFor="let item of listItems" (click)="itemClicked($event, item)">
      <span *ngIf="item.date">{{item.date}} </span> {{item.name}}
      <span *ngIf="item.ofag">(OFAG : {{item.ofag}})</span>

      <strong *ngIf="item.score" [ngClass]="{'good' : item.score < 3, 'average' : item.score == 3, 'bad' : item.score > 3}"> — score : {{item.score}} </strong>

      <button ion-button item-right icon-only *ngIf="editMode">
        <ion-icon name="information-circle"></ion-icon>
      </button>
      <button ion-button item-right icon-only color="yellow" *ngIf="editMode" (click)="manageItem($event,'edit', item, stepNumber)">
        <ion-icon name="paper"></ion-icon>
      </button>
      <button ion-button item-right icon-only color="danger" *ngIf="editMode" (click)="manageItem($event,'delete', item, stepNumber)">
        <ion-icon name="trash"></ion-icon>
      </button>

    </ion-item>

  </ion-list>
</ion-content>
