page-structural-quality {
    #title{
        font-size: x-large;
        text-align: center;
    }

    img{
        display:inline;
    }

    ion-scroll, ion-card{
        height : 75vh;
    }

    ion-card-header{
        font-weight: bold;
        overflow: initial;
        white-space: initial;
    }

     ion-card-title{
        font-weight: bolder;
        margin-top : 0vh !important;
    }
}
