page-tutorial {
  #title{
    font-size: x-large;
    text-align: center;
  }

  img{
      margin-top :2%;
  }

  .swiper-pagination-bullet-active{
      opacity: 1;
      background: #ab9371;
  }

   ion-card-content{
      overflow: auto;
      max-height : 150px;
      margin-top :2%;
      margin-bottom: 7%;
   }

  p {
      text-align: left;
  }
}
