page-tutorial {
  #title{
    font-size: x-large;
    text-align: center;
  }

  img{
      margin-top :2%;
  }

   ion-card-content{
      overflow: auto;
      max-height : 15vh;
      margin :2%;
   }

  p {
      text-align: left;
  }
}
